
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code {  padding: 2px 6px; }
</style>
<script src="https://kit.fontawesome.com/3d8d94b439.js" crossorigin="anonymous"></script>

<div class="example-wrapper">
    <h1>Hello {{ app.user.username }}!</h1>

    <h1>GAMES</h1>
    <ul>
        <li>TicTacToe <a href="tictactoe"><i class="fa fa-gamepad" style="font-size:25px;color:red"></i>
</a></li>
        <li>RockPaperScissors <a href="rockpaperscissors"><i class="fa fa-gamepad" style="font-size:25px;color:red"></i>
</a></li>
        <li>Hangman <a href="tictactoe"><i class="fa fa-gamepad" style="font-size:25px;color:red"></i>
</a></li>
    </ul>
    <h1> LEADERBOARD <a href="user"><i class="fa-solid fa-clipboard" style="color:red"></i>
</a></h1>
    
</div>
{% endblock %}
